{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Теория информации</title>
    <link rel="stylesheet" href="{% static 'css/start_window.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <ul class="menu">
                    <li><a href="#project" class="menu_link">О проекте</a></li>
                    <li><a href="#tasks" class="menu_link">Уровни задач</a></li>
                    <li><a href="#theory" class="menu_link">Теория информатики</a></li>
                    <li><a href="#contacts" class="menu_link">Контакты</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="inspiration-content">
        <h1>Основы теории информации</h1>
        <p>print("Hello, world")</p>
    </div>
    <main>
        <section id="project">
            <h2 class="description">Описание проекта</h2>
            <div class="description_block">
            <img src="img/theory_information.jpg" id="first_img">
            <p>Курсовая работа по теме "Междисциплинарные задачи по теме "Основы теории информации" и программированию" направлена на изучение, создание (разработку) и решение задач, связанных с теорией информации и ее применением в программировании. Основная цель проекта: рассмотреть теорию в области информатики и теории информации, разработать задачи на данную тему и подготовить программный продукт, позволяющий посмотреть, решить и проверить правильность выполнения задачи. Данная работа позволит студентам лучше изучить теорию информации и развить навыки решения задач на эту тему. В целом, разработка программного продукта на эту тему поможет студентам лучше понять теорию информации и ее применение в программировании, а также развить навыки решения задач на эту тему.</p>
            </div>
            
        </section>
        <section id="tasks">
            <h2>Перейти к разделам с задачами:</h2>
            <div class="to">
                <a href="">Передача информации</a>
                <a href="">Алгебра логики и информационная теория</a>
                <a href="">Теория кодирования</a>
            </div>
        </section>
        <section id="theory">
            <h2>Немного из теории</h2>
            <h4>Передача информации</h4>
            <p>Передача информации - это процесс передачи данных от отправителя к получателю через определенный канал связи. Для оценки эффективности передачи информации используются различные формулы, такие как формула пропускной способности канала, которая позволяет определить количество данных, которое может быть передано за единицу времени.<br>
                <formula>
                <math>
                    <mrow>
                        <mi>v</mi>
                        <mo>=</mo>
                        <mfrac>
                            <mrow>
                                <mi>I</mi>
                            </mrow>
                            <mrow>
                                <mi>t</mi>
                            </mrow>
                        </mfrac>
                    </mrow>
                </math>
            </formula>
            — пропускная способность сети — отношение объема информации ко времени передачи<br>
            Формулы также используются для расчета скорости передачи данных, задержки и других параметров, необходимых для оптимизации процесса передачи информации.
            </p>
            <h4>Алгебра логики</h4>
            <p>Алгебра логики - это раздел инфоматика, изучающий логические отношения между высказываниями. Обозначения и формулы используются для описания этих отношений. Например, символ "∧" используется для обозначения логической операции "И" (AND), а символ "∨" используется для обозначения логической операции "ИЛИ" (OR). Формулы могут быть использованы для определения истинности или ложности высказываний или функций, а также для построения логических цепочек.</p>
            <h4>Теория кодирования</h4>
            <p>Теория кодирования - это область информатики, которая изучает методы представления данных с целью обеспечения надежной передачи и хранения информации. Кодирование включает создание специальных кодов для представления символов или сообщений. Теория кодирования разрабатывает методы обнаружения и исправления ошибок при передаче данных, а также методы сжатия информации для экономии ресурсов. Различные типы кодирования, такие как блочное кодирование, циклическое кодирование и кодирование Хэмминга, играют важную роль в обеспечении целостности и конфиденциальности информации в современных системах связи и хранения данных.</p>
        </section>
        <section id="contacts">
            <h2>Об авторе</h2>
            <div class="about_me">
                <p>Денисова Алиса Евгеньевна</p>
                <a href="mailto:aedenisova@edu.hse.ru">aedenisova@edu.hse.ru</a>
                <p>+7-927-711-39-96</p>
                <a href="https://t.me/adeavoice">@adeavoice</a>
            </div>
        </section>
    </main>
    <footer>
    </footer>
</html>